
.DS_Store

DDD.Domain/bin/Debug/DDD.Domain.dll

DDD.Domain/bin/Debug/DDD.Domain.pdb

DDD.Domain/obj/Debug/DDD.Domain.csproj.CoreCompileInputs.cache

DDD.Domain/obj/Debug/DDD.Domain.csproj.FileListAbsolute.txt

DDD.Domain/obj/Debug/DDD.Domain.csprojAssemblyReference.cache

DDD.Domain/obj/Debug/DDD.Domain.dll

DDD.Domain/obj/Debug/DDD.Domain.pdb

*.cache

*.csproj

DDD.Infrastructure/bin/Debug/

DDD.Infrastructure/obj/Debug/

DDD.Infrastructure/SQLite/SQLiteHelper.cs

DDD.WinForm/bin/Debug/

DDD.WinForm/obj/Debug/

DDD.WinForm/Properties/Settings.settings

DDD.db

DDDTest.Tests/obj/Debug/

DDDTest.Tests/ChainingAssertion.MSTest.cs

DDDTest.Tests/bin/Debug/System.Threading.Tasks.Extensions.xml

DDDTest.Tests/bin/Debug/

DDDTest.Tests/Properties/AssemblyInfo.cs

DDD.Domain/Properties/AssemblyInfo.cs

DDD.Infrastructure/App.config

DDD.Infrastructure/Properties/AssemblyInfo.cs

DDD.WinForm/App.config

DDD.WinForm/Properties/AssemblyInfo.cs
